*{
    box-sizing:border-box;
    margin: auto;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}


.product-grid{
    height: 500px;
    width: 1200px;
    margin-top: 20px;
    
}

.product-raw{
    height: 500px;
    width: 100%;
    text-align: center;
    margin: 50px 0px;
    
}

.product-card{
    height: 100%;
    width: 30%;
    display: inline-block;   
    margin: auto;    
    margin: 0px 5px;
    position: relative;
}

.product-card img{
    object-fit: cover;
    height: 100%;
    width: 100%;

}

.heart{
    background-color: white;
    height: 30px;
    width: 30px;
    vertical-align:middle;
    position: absolute;
    top: 20px;
    right: 0px;
}

.label{
    width: 100%;
    height: 20px;
    position: absolute;
    bottom: 30px;
    font-size: 12px;
    font-weight: 700;
    
    }

.special{
    display: inline;
    background-color: hsl(346deg 97% 47%);
    color: white;
    padding: 5px;
    float: left;
    margin-right: 5px;
    
}

.eco{
    display: inline;
    background-color:hsl(160deg 93% 28%);
    color: white;
    padding: 5px;
    float: left;
}

.info{
    text-align: left;
}

.brand{
    font-size: 12px;
}

.title{
    font-size: 14px;
    font-weight: 1000;
}

.special-price{
    color: hsl(3deg 100% 61%);
    display: inline;
    font-size: 12px;
    font-weight: 800;
}

.price{
    display: inline;
    font-size: 12px;
    text-decoration: line-through;
    font-weight: 800;
}